<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style1.css">
    <title>Perfil</title>
</head>
<body>

    {{>header}}

    <section class="profile">
        <h1 class="head-title">Administración</h1>
        <nav>
            <ul>
                <li><a href="/users">Gestionar Usuarios</a></li>
                <li><a href="/allProducts">Gestionar Productos</a></li>
                <li><a href="/allReviews">Moderar Reseñas</a></li>
                <li><a href="/messages">Moderar Mensajes</a></li>
            </ul>
        </nav>
    </section>

    {{>footer}}
    
</body>
</html>