<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moderación comentarios</title>
    <link rel="stylesheet" href="style1.css">
</head>
<body>
    {{>header2}}
    <h2 class="head-title">Moderación de Comentarios</h2>
    <!-- Reviews table -->
    <div class="table-container">
        <table >
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Mensaje</th>
                    <th>Autor</th>
                    <th>Vendedor</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {{#reviews}}
                <tr>
                    <td>{{id}}</td>
                    <td>{{message}}</td>
                    <td>{{author.username}}</td>
                    <td>{{seller.username}}</td>
                    
                    <td>
                        <form action="/delete_review" method="POST" style="display:inline;">
                            <input type="hidden" name="id" value="{{id}}"> 
                            <button type="submit" class="deleteReview">Eliminar</button>
                        </form>
                    </td>
                </tr>
                {{/reviews}}
            </tbody>
        </table>
    </div>
    
</body>
</html>