<!DOCTYPE html>
<head>
    <title>Busqueda</title>
    <link type="text/css" rel="stylesheet" href="style1.css">
</head>
<body>

    <nav>
        <a href="/">Inicio</a>
        <a href="/products">Productos</a>
        <a href="chat.html">Chat</a>
        <a href="register.html">Regístrate</a>
        <a href="login.html">Iniciar sesión</a>
      </nav>


    <section class="products">
        {{#found}}
        <div class="product">
            <a href="/products/{{id}}">
                <img src="{{{img}}}" alt="Juego {{-index}}">
            </a>
            <h3>{{title}}</h3>
            <p>{{desc}}</p>
            <p class="price">{{price}}€</p>
            <button>Agregar al carrito</button>
        </div>
        {{/found}}
    </section>

</body>
</html>