<!DOCTYPE html>
<head>
    <title>Busqueda</title>
    <link type="text/css" rel="stylesheet" href="style1.css">
</head>
<body>
    {{>header}}

    <section class="products">
        {{#found}}
        <div class="product">
            <a href="/products/{{id}}">
                <img src="/products/{{id}}/image" alt="Juego {{-index}}">
            </a>
            <h3>{{title}}</h3>
            <p>{{descr}}</p>
            <p class="price">{{price}}€</p>
            <button>Agregar al carrito</button>
        </div>
        {{/found}}
    </section>

    {{>footer}}
</body>
</html>