<html>
    <header>
        <h1>PixelTrade</h1>
        <p>¡Encuentra los mejores videojuegos, consolas y accesorios de segunda mano!</p>
    </header>
    
    <nav>
        <a href="/">Inicio</a>
        <a href="/products">Productos</a>
        <a href="/chat">Chat</a>
    
        {{#user}}
            <a href="/profile">Perfil</a>
            <a href="uploadProduct.html">Subir un producto</a>
            <a href="/logout">Cerrar sesión ({{user.username}})</a>
        {{/user}}
        
        {{^user}}
            <a href="/register">Regístrate</a>
            <a href="/login">Iniciar sesión</a>
        {{/user}}
    </nav>
</html>