<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión mensajes</title>
    <link rel="stylesheet" href="style1.css">
</head>
<body>
    {{>header2}}
    <h2 class="head-title">Gestión de Mensajes</h2>
    <!-- Messages table -->
    <div class="table-container">
        <table >
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Texto</th>
                    <th>Fecha</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {{#messages}}
                <tr>
                    <td>{{id}}</td>
                    <td>{{text}}</td>
                    <td>{{date}}</td>
                    
                    <td>
                        <form action="/delete_message" method="POST" style="display:inline;">
                            <input type="hidden" name="id" value="{{id}}"> 
                            <button type="submit" class="deleteMessage">Eliminar</button>
                        </form>
                    </td>
                </tr>
                {{/messages}}
            </tbody>
        </table>
    </div>
    
</body>
</html>