<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{product.title}}</title>
    <link type="text/css" rel="stylesheet" href="/style1.css">
</head>
<body>
    {{>header}}
    
    <div class="product">
        <h1>{{product.title}}</h1>
        <img src="/products/{{id}}/image" alt="{{product.title}}">
        <p class="price">{{product.price}} €</p>
        <p>{{product.descr}}</p>
        <p>
            <strong>Vendedor:</strong> 
            <form action="/user_reviews" method="GET">
                <input type="hidden" name="id" value="{{product.seller.id}}">
                <button type="submit" class="username">{{product.seller.username}}</button>
                <input type="hidden" name="_csrf" value="{{token}}"/>
            </form>
        </p>

        <div>
            {{#logged}}

                {{^isOwnProduct}}
                    {{^admin}}
                        <form action="/buy_product" method="GET">
                            <input type="hidden" name="id" value="{{product.id}}">
                            <button type="submit" class="cart">Comprar</button>
                            <input type="hidden" name="_csrf" value="{{token}}"/>
                        </form>
                        
                        <form action="/send_message" method="POST">
                            <label for="message">Mensaje para el vendedor:</label>
                            <textarea id="message" name="text" rows="4" cols="50" placeholder="Escribe tu mensaje aquí..."></textarea>
                            
                            <input type="hidden" name="idsender" value="{{user.id}}">
                            <input type="hidden" name="idreceiver" value="{{product.seller.id}}">
                            
                            <div>
                                <button type="submit">Enviar mensaje</button>
                            </div>
                            <input type="hidden" name="_csrf" value="{{token}}"/>
                        </form>
                    {{/admin}}
                {{/isOwnProduct}}

                {{#isOwnProduct}}  
                    <form action="/edit_product/{{product.id}}" method="GET">
                        <button type="submit">Editar producto</button>
                        <input type="hidden" name="_csrf" value="{{token}}"/>
                    </form>

                    <form action="/delete_product/{{product.id}}" method="POST">
                        <button type="submit">Borrar producto</button>
                        <input type="hidden" name="_csrf" value="{{token}}"/>
                    </form>

                {{/isOwnProduct}}

            {{/logged}}
        </div>
    </div>

    {{>footer}}
</body>
</html>
