<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{product.title}}</title>
    <link type="text/css" rel="stylesheet" href="/style1.css">
</head>
<body>
    {{>header}}
    
    <div class="product">
        <h1>{{product.title}}</h1>
        <img src="/products/{{id}}/image" alt="{{product.title}}">
        <p class="price">${{product.price}}</p>
        <p>{{product.descr}}</p>
        <p><strong>Vendedor:</strong> <a href="/seller/{{product.seller.id}}" class="username">{{product.seller.username}}</a></p>

        <div>
            {{#user}}

                {{^isOwnProduct}}
                    <form action="/buy_product" method="GET">
                        <input type="hidden" name="id" value="{{product.id}}">
                        <button type="submit" class="cart">Comprar</button>
                    </form>

                    <form action="/send_message" method="POST">
                        <label for="message">Mensaje para el vendedor:</label>
                        <textarea id="message" name="text" rows="4" cols="50" placeholder="Escribe tu mensaje aquí..."></textarea>
                        
                        <input type="hidden" name="idsender" value="{{user.id}}">
                        <input type="hidden" name="idreceiver" value="{{product.seller.id}}">
                        
                        <div>
                            <button type="submit">Enviar mensaje</button>
                        </div>
                    </form>
                {{/isOwnProduct}}

                {{#isAdmin}}  
                    <form action="/edit_product/{{product.id}}" method="GET">
                        <button type="submit">Editar producto</button>
                    </form>

                    <form action="/delete_product/{{product.id}}" method="POST">
                        <button type="submit">Borrar producto</button>
                    </form>

                {{/isAdmin}}

            {{/user}}
        </div>
    </div>

    {{>footer}}
</body>
</html>
