<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style1.css">
    <title>Perfil</title>
</head>
<body>

    {{>header}}

    <section class="profile">
        <h1 class="head-title">Mi Perfil</h1>
        <nav>
            <ul>
                <li><a href="/personalInfo">Mi Información</a></li>
                <li><a href="/purchases">Mis Compras</a></li>
                <li><a href="/sales">Mis Productos</a></li>
                <li><a href="/reviews">Mis Reseñas</a></li>
                <li><a href="/deleteAccount">Eliminar cuenta</a></li>
            </ul>
        </nav>
    </section>

    {{>footer}}
    
</body>
</html>