<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="style1.css">
    <title>Productos</title>
</head>
<body>

    {{>header}}
    <h2 class="head-title">Mis compras</h2>
    <section class="products">
        {{#products}}
        <div class="product">  
            <img src="/products/{{id}}/image" alt="Juego {{-index}}">
            <h3>{{title}}</h3>
            <p>{{descr}}</p>
            <p class="price">{{price}}€</p>
        </div>
        {{/products}}
    </section>
    
    <a href="/profile"><button >Volver al perfil</button></a>
    {{>footer}}
</body>
</html>