<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="style1.css">
    <title>Reseñas</title>
</head>
<body>

    {{>header}}
    <h2 class="head-title">Mis reseñas</h2>
    <div class="reviews-container">
        
        {{#reviews}}
        <div class="review-card">
            <p>{{message}} ({{author.username}})</p>
        </div>
        {{/reviews}}

        {{^reviews}}
        <p class="no-reviews">Todavía no tiene ninguna reseña.</p>
        {{/reviews}}
    </div>
        

    {{>footer}}
</body>
</html>