<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style1.css">
    <title>Reseñas</title>
</head>
<body>

    {{>header}}
    <h2 class="head-title">Mis reseñas</h2>
    <h2 class="head-title">Recibidas</h2>

    <div class="reviews-container">
        
        {{#reviewsReceived}}
        <div class="review-card">
            <p>{{message}} ({{author.username}})</p>
        </div>
        {{/reviewsReceived}}

        {{^reviewsReceived}}
        <p class="no-reviews">Todavía no tiene ninguna reseña.</p>
        {{/reviewsReceived}}
    </div>

    <h2 class="head-title">Publicadas</h2>
    <div class="reviews-container">
        
        {{#reviewsSent}}
        <div class="review-card">
            <p>{{message}} ({{seller.username}})</p>
        </div>
        {{/reviewsSent}}

        {{^reviewsSent}}
        <p class="no-reviews">Todavía no ha publicado ninguna reseña.</p>
        {{/reviewsSent}}
    </div>
    <a href="/profile" class="button">Volver al perfil</a>

    {{>footer}}
</body>
</html>