<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión usuarios</title>
    <link rel="stylesheet" href="style1.css">
</head>
<body>
    {{>header2}}
    <h2 class="head-title">Gestión de Usuarios</h2>
    <!-- Users table -->
    <div class="table-container">
        <table >
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Email</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {{#users}}
                <tr>
                    <td>{{id}}</td>
                    <td>{{username}}</td>
                    <td>{{email}}</td>
                    
                    <td>
                        <form action="/delete_user" method="POST" style="display:inline;">
                            <input type="hidden" name="id" value="{{id}}"> 
                            <button type="submit" class="deleteUser">Eliminar</button>
                        </form>
                    </td>
                </tr>
                {{/users}}
            </tbody>
        </table>
    </div>
    
</body>
</html>